<h1>Surgery Overview</h1>

==============================
Details
===============================
<section class="surgery-info">
<li>Title:            <%= @surgery.title %></li>
<li>Operating Room No.: <%= @surgery.operating_room_number %></li>
</section><br>
================
Other surgeries happening this day of the week:
================
<section class="other-surgeries">
<li>Title(s): <%= Surgery.find_others_by_day(@surgery).pluck(:title).to_sentence %></li>
</section>